{% load static %}

<h4 class="text-center mt-4 mb-3" style="color: #2C3E50; font-weight: bold;">Imagen</h4>
<hr>
<div class="text-center mb-4">
    <img id="profileImagePreview" src="{% if cancha.imagen %}{{ cancha.imagen.url }}{% else %}{% static 'images/default-cancha.jpg' %}{% endif %}"
        data-default-url="{% static 'images/default-cancha.jpg' %}"
        class="card-img-top" 
        alt="Imagen de {{ cancha.nombre }}" 
        style="height: 250px; object-fit: cover;">
</div>
<div class="text-center mb-4">
    <!-- Botón para subir una nueva imagen -->
    <label for="profileImageInput" class="btn btn-outline-primary">Subir nueva imagen</label>
    <input type="file" id="profileImageInput" name="imagen" accept="image/*" style="display: none;" onchange="previewImage(event)">
    <!-- Botón para quitar la imagen -->
    <button type="button" class="btn btn-outline-danger" onclick="resetImage()">Quitar imagen</button>
</div>
<hr>