{% if messages %}
    {% for message in messages %}
        <div class="toast-container position-fixed top-0 end-1 pt-3">
            <div id="liveToast" class="toast align-items-center {% if message.tags == "error" %} text-bg-danger {% else %} text-bg-success {% endif %} border-0" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="5000">
                <div class="d-flex">
                    <div class="toast-body">
                        {% if message.tags == "success" %}
                            <i class="bi bi-check-circle-fill me-2"></i>
                        {% elif message.tags == "error" %}
                            <i class="bi bi-exclamation-circle-fill me-2"></i>
                        {% else %}
                            <i class="bi bi-info-circle-fill me-2"></i>
                        {% endif %}
                        {{ message }}
                    </div>
                    <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
            </div>
        </div>
    {% endfor %}
{% endif %}
