<div class="d-flex justify-content-between align-items-center mt-4">
    <h4 style="color: #2C3E50; font-weight: bold;">Horarios Disponibles</h4>
    {% if responsable %}
        <button class="btn btn-success shadow-sm ms-2" 
            style="font-weight: bold;" 
            data-bs-toggle="modal" 
            data-bs-target="#modalAgregarHorario">
            Agregar Horario
        </button>
    {% endif %}
</div>
<div class="mb-4 mt-4">
    {% if dias_horarios %}
        <ul class="list-group">
            {% for fecha_dia in dias_horarios %}
                <li class="list-group-item">
                    <div class="d-flex justify-content-between align-items-center">
                        <strong>{{ fecha_dia.dia }}</strong>
                        {% if responsable %}
                            <div>
                                <!-- Botón para editar todos los horarios de un día -->
                                <button 
                                    class="btn btn-warning btn-sm me-2" 
                                    data-bs-toggle="modal" 
                                    data-bs-target="#modalEditarHorarios{{ forloop.counter }}">
                                    Editar
                                </button>
                                <!-- Botón para eliminar todos los horarios de un día -->
                                <button 
                                    type="submit" class="btn btn-danger btn-sm"
                                    data-bs-toggle="modal"
                                    data-bs-target="#modalEliminarHorarios{{ forloop.counter }}">
                                    Eliminar
                                </button>
                            </div>
                        {% endif %}
                    </div>
                    <ul>
                        {% for horario in fecha_dia.horarios %}
                            <li>
                                <span style="color: green;">{{ horario.hora_inicio }} - {{ horario.hora_fin }}</span>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
                <!-- Modal para editar horarios -->
                {% include "cancha/detalle_cancha/editar_horario.html" %}
                <!-- Modal para eliminar horarios -->
                {% include "cancha/detalle_cancha/eliminar_horario.html" %}
            {% endfor %}
        </ul>
    {% else %}
        <p>No hay fechas disponibles en este momento.</p>
    {% endif %}
</div>

<!-- Modal para agregar horarios -->
{% include "cancha/detalle_cancha/agregar_horario.html" %}