<div class="d-flex justify-content-between align-items-center mt-4">
    <h4 style="color: #2C3E50; font-weight: bold;">Horarios Disponibles</h4>
    {% if responsable %}
        {% if dias_horarios %}
            <button class="btn btn-success shadow-sm ms-2" 
                style="font-weight: bold;" 
                data-bs-toggle="modal" 
                data-bs-target="#modalAgregarHorario">
                Agregar Horario
            </button>
            <a href="" 
                class="btn btn-warning shadow-sm ms-2" 
                style="font-weight: bold;">
                Editar Horario
            </a>
        {% else %}
            <button class="btn btn-success shadow-sm ms-2" 
                style="font-weight: bold;" 
                data-bs-toggle="modal" 
                data-bs-target="#modalAgregarHorario">
                Agregar Horario
            </button>
        {% endif %}
    {% endif %}
</div>
<div class="mb-4 mt-4">
    {% if dias_horarios %}
        <ul class="list-group">
            {% for fecha_dia in dias_horarios %}
                <li class="list-group-item">
                    <strong>{{ fecha_dia.dia }}</strong>
                    <ul>
                        {% for horario in fecha_dia.horarios %}
                            <li>
                                <span style="color: green;">{{ horario.hora_inicio }} - {{ horario.hora_fin }}</span>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No hay fechas disponibles en este momento.</p>
    {% endif %}
</div>

<!-- Modal para agregar horarios -->
{% include "cancha/detalle_cancha/agregar_horario.html" %}