{% load static %}

<div class="bg-image" style="background-image: url('{% static 'images/cancha-banner.jpg' %}'); background-size: cover; background-position: center; height: 400px; position: relative;">
    <div class="overlay" style="background-color: rgba(0, 0, 0, 0.5); position: absolute; top: 0; left: 0; right: 0; bottom: 0;"></div>
    <div class="content d-flex flex-column justify-content-center align-items-center" style="height: 100%; position: relative; z-index: 2;">
        <h1 class="display-1 text-uppercase text-white" style="font-weight: 900; letter-spacing: 2px; text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);">
            <b>Reserva tu Cancha</b>
        </h1>
        <p class="fs-5 text-white text-center" style="font-weight: 700; letter-spacing: 1.5px; line-height: 1.6; text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.7);">
            - Red de Canchas: Explora nuestra red exclusiva de canchas y encuentra el lugar perfecto para tu próximo partido.
        </p>
        <p class="fs-5 text-white text-center" style="font-weight: 700; letter-spacing: 1.5px; line-height: 1.6; text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.7);">
            - Registro de Equipos: Únete y crea tu equipo de fútbol en minutos. ¡Es fácil y rápido!
        </p>
        <p class="fs-5 text-white text-center" style="font-weight: 700; letter-spacing: 1.5px; line-height: 1.6; text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.7);">
            - Iniciar Sesión: Accede a tu cuenta para gestionar reservas y mucho más con solo un clic.
        </p>
        <p class="fs-5 text-white text-center" style="font-weight: 700; letter-spacing: 1.5px; line-height: 1.6; text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.7);">
            - Registrarse: ¿Nuevo aquí? Regístrate ahora y comienza a disfrutar de todas nuestras increíbles funcionalidades.
        </p>
    </div>
</div>