<form method="POST" action="{% url 'cambiar_contrasena' %}">
    {% csrf_token %}
    <div class="row g-3">
        <div class="col-md-6">
            <label for="password" class="form-label" style="font-weight: bold; color: #F1C40F;">Contraseña Actual:</label>
            <input type="password" name="password" id="password" class="form-control shadow-sm">
        </div>
        <div class="col-md-6"></div>
        <div class="col-md-6">
            <label for="new_password" class="form-label" style="font-weight: bold; color: #F1C40F;">Nueva Contraseña:</label>
            <input type="password" name="new_password" id="new_password" class="form-control shadow-sm">
        </div>
        <div class="col-md-6">
            <label for="confirm_password" class="form-label" style="font-weight: bold; color: #F1C40F;">Confirmar Nueva Contraseña:</label>
            <input type="password" name="confirm_password" id="confirm_password" class="form-control shadow-sm">
        </div>
    </div>
    <div class="text-end mt-4">
        <a href="{% url 'perfil' user.id user.slug %}" class="btn px-4 py-2 shadow-sm" style="background-color: #2C3E50; color: #fff; font-weight: bold;">Cancelar</a>
        <button type="submit" class="btn px-4 py-2 shadow-sm" style="background-color: #4CAF50; color: #fff; font-weight: bold;">Actualizar Contraseña</button>
    </div>
    {% if error %}
        {% include "usuario/editar_perfil/msg_error.html" %}
    {% endif %}
</form>