<form method="POST" action="{% url 'eliminar_cuenta' %}">
    {% csrf_token %}
    <div class="alert alert-warning" role="alert">
        <i class="ai-triangle-alert fs-xl me-2"></i>
        <strong>Advertencia:</strong> Al eliminar tu cuenta, se perderán todos tus datos y no podrás recuperarlos.
        <br>¿Estás seguro de que deseas continuar?
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Contraseña:</label>
        <input type="password" name="password" id="password_delete" class="form-control" placeholder="Ingresa tu contraseña" required>
    </div>
    <div class="form-check mb-4">
        <input type="checkbox" class="form-check-input" id="confirm" required>
        <label for="confirm" class="form-check-label">Sí, deseo eliminar mi cuenta.</label>
    </div>
    <div class="text-end">
        <button type="submit" class="btn btn-danger px-4 py-2 shadow-sm" style="color: #fff; font-weight: bold;">
            Eliminar Cuenta
        </button>
    </div>
    {% if error %}
        {% include "usuario/editar_perfil/msg_error.html" %}
    {% endif %}
</form>